h1 {
    text-align: center;
    margin-top: 2rem;
}
main {
    margin-top: 6em;
}
.main-container {
    background-color: blue;
}

.btn {
    align-self: baseline;
}
.todo {
    background-color: green;
}
.inprogress {
    background-color: yellow;
}
.finished {
    background-color: red;
}

.item-list {
    text-align: center;
    height: 30rem;
    margin-top: 0;
}
.item-input {
    justify-content: center;
}
.list-item {
    background-color: aqua;
}

::ng-deep .ui-label-active  {
    text-decoration: line-through;
  }